.navbar {
  min-height: 100px;
  width: 100%;
  background-color: darkslategray;
  position: fixed;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.navbar-inner {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.navbar-not-logged {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.navbar-logged {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 25px;
  width: 75px;
  border-radius: 5px;
  padding: 0;
}

p {
  margin: 0;
}
